<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jovian Careers</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <style>
            #banner {
                height: 360px;
                width: 100%;
                object-fit: cover;
                margin-bottom: 16px;
            }
        </style>
    </head>
    <body>
            {% include 'nav.html' %}
            <img class="img-fluid" id="banner" src="/static/banner.jpg" alt="HTML Dog"/>
            <div class="container">
            <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
                <div class="row" style="margin-bottom: 16px">
                    <div class="col-md-6">
            <p class="lead">
                These are short, famous texts in English from classic sources like the Bible or Shakespeare. Some texts
                have word definitions and explanations to help you. Some of these texts are written in an old style of English.
                Try to understand them, because the English that we speak today is based on what our great, great, great,
                great grandparents spoke before! Of course, not all these texts were originally written in English.
                The Bible, for example, is a translation. But they are all well known in English today, and many
                of them express beautiful thoughts.
            </p>
                    </div>
                    <div class="d-none d-md-block col-md-6">
                        <img src="/static/people.jpg" style="height: 320px; border-radius: 4px;" alt="people"/>
                    </div>
                </div>
            <h2 class="text-center mt-2 mb-4">
                Open positions
            </h2>
            <p>
                {% for job in jobs %}
                   {% include 'jobitem.html' %}
                {% endfor %}
            </p>
            <div class="text-center">
                <a href="mailto:shubh22.srivastava@gmail.com?subject=Question%20about%20job%20opening&body=Name%3A%20*Insert%20name%20here*%0D%0A%0D%0AQuestion%3A%20*Insert%20question%20here*"class="btn btn-primary btn-lg">
                    Contact Us
                </a>
            </div>
            </div>
    {% include 'footer.html' %}
    </body>
</html>